.arrow{
    color: red;
}
.text-cl{
    font-weight: 600;
    text-transform: uppercase;
}
.price{
    font-weight: 800;
    font-size: 20px;
}
.star-cl{
    color:rgb(47, 148, 47) ;
}
.card-mag{
    margin-top: 20px;
}