@import "bootstrap/scss/bootstrap";
@import "theme/product";
@import "theme/loader";
@import "theme/card";
@import "theme/item";
@import "theme/home";
@import "theme/user";
@import "theme/_login";
@import "theme/theproduct";
@import "theme/register";
$text-deco: none;
$list-style: none;



.footer{
    padding-top: 20px;
   
}
.text-router {
    text-decoration: $text-deco;
    color: black;
    font-weight: 600;
}
.this-icon{
    color: #16e651;
}

.text-router:hover{
    color: #ea0606;
}
// .login {
//     background-color: #ffffff00;
//     // color: #d71919;
//     width: 136px;
//     height: 46.4px;
//     border: #3654ff 0.2em solid;
//     border-radius: 11px;
//     text-align: right;
//     transition: all 0.6s ease;
// }
// .login .icon{
//     transition: all 0.6s ease;
// }
// .btn:hover {
//     background-color: #3654ff;
//     transform: translateX(5px);
// }
// .login:hover .icon {
//     transform: translateX(5px);
// }
// .text-router-2{
//     text-decoration: none;
// }
